body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #020617, #0f172a);
    color: white;
}

.layout {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 200px;
    height: 100vh;
    padding: 20px;
    background: rgba(255,255,255,0.03);
    backdrop-filter: blur(10px);
}

.sidebar button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background: transparent;
    border: none;
    color: white;
    text-align: left;
    cursor: pointer;
}

.sidebar button:hover {
    color: #38bdf8;
}

/* Main */
main {
    flex: 1;
    padding: 30px;
}

/* Profile Card */
.profile-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #0f172a, #020617);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* Avatar */
.avatar {
    width: 120px;
    border-radius: 50%;
    border: 4px solid #f97316;
}

/* Profile */
.profile-info {
    flex: 1;
    margin-left: 20px;
}

.socials i {
    margin-right: 10px;
    cursor: pointer;
}

/* Meta */
.profile-meta {
    text-align: right;
}

.status {
    color: #22c55e;
}

/* Sections */
section {
    display: none;
    background: rgba(255,255,255,0.03);
    padding: 20px;
    border-radius: 15px;
}

.active {
    display: block;
}

/* Cards */
.cards {
    display: flex;
    gap: 15px;
}

.card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* THIS is key */
}

.card:hover {
    transform: translateY(-5px);
}


.skills {
    margin-top: 15px;
    display: flex;
    gap: 12px;
}

.skills i {
    font-size: 18px;
    color: #38bdf8;
    transition: 0.3s;
}

.skills i:hover {
    transform: scale(1.2);
    color: #0ea5e9;
}